[CMD]
cmd = mem
samples = raw_data

[Section1]
an_int = 15
a_bool = true
a_float = 3.1415
baz = fun
bar = Python
foo = %(bar)s is %(baz)s!
#dict1 = {a:1, b:ab, c:[a, 1, b, a]}
list1 = [1, 2, a, [1,2]]

[Section2]
order = 1
input_type = json
input1 = {sample[0]}
input2 = {sample[1]}
# ref is default, reference_genome 是json中传输数据对应的key
GTF_file = {ref[reference_genome]}


