<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
  		$("#b01").click(function(){
		
		$('#myDiv').load('http://wiki.basepedia.com/genome/1?format=json&callback=?');  		
		/*$('#myDiv').load('https://public-api.wordpress.com/rest/v1/sites/wtmpeachtest.wordpress.com/posts'); */
  		});
	});
	</script>
</head>

<body>

<div id="myDiv"><h2>通过 AJAX 改变文本</h2></div>
<button id="b01" type="button">改变内容</button>

</body>
</html>
